.button{
	background-color: red;
}
#check-minutes{
	background-color: navy;
	color:white;
}
 #check-minutes2{
    background-color: navy;
	color:white;
 }
 #check-minutes3{
 	background-color: navy;
	color:white;
 }
